@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(88, 110, 219);
}

#container{
    display: flex;
    align-items: center;
    gap: 37.999rem;
    border-radius: 9px;
}

#img{
    width: 30rem;
    height: 38rem;
    flex-direction: column;
    gap: 40.999rem;
}

#calculator{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: #f8fafc;
    background-color:#dc5dc9 ;
}

#form{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

#tittle{
    font-size: 2.25rem;
    position: relative;
}

#tittle:after{
    position: absolute;
    content: '';
    background-color: #2b2a2b;
    width: 8rem;
    bottom: 0;
    left: 0;
    border-radius: 5px;
}

.input-box label{
    font-size: 1.1rem;
    color: #f8fafc;
    font-weight: 500;
}

.input-field{
    display: flex;
    align-items: center;
    background-color: rgb(206, 82, 196);
    padding: 0.3;
    border-radius: 12px;
    margin-top: 15px;
}

.input-field span,
.input-field i{
    color: #fdfdfd;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
}

.input-field input{
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: #f8fafc;
    padding: 0.05rem;
}

.input-field input ::-webkit-outer-spin-button,
.input-field ::-webkit-inner-spin-button {
    appearance: none;
}

.input-field input :focus{
    outline: none;
}

#calculate{
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #fffeff;
    color: #5569d7;
    padding: 0.5rem 0;
    border-radius: 8px;
    cursor: pointer;
}

#calculate {
    transition: 0.5s;
}

#calculate:hover {
    transform: scale(1.1);
}

#result {
    display: flex;
    gap: 3rem;
    align-items: center;
    border-top: 1px solid #96a1de ;
    padding: 0.75rem 0;
}

#bmi {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.25rem;
}

#bmi span:last-child{
    font-size: 0.940rem;
    color: #fefefe;
}

#discription{
    width: 15.5rem;
}

#more_info{
    border-top: 1px solid #fffcff;
    padding-top: 1.5rem;
}

#more_info {
    color: #344293;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem ;
    font-size: 0.875rem;
    text-decoration: none;
    transition: color 0.5s;
}

#more_info a:hover{
    color: #cfcacf;
}

.hidden{
    display: none;
}
